<div class="row">
    <div class="col-lg-3 mid">

       
<form #f="ngForm" (ngSubmit)="onSignIn(f)">
    <img src="https://i.im.ge/2022/08/17/O2C4t1.Untitled-removebg-preview.png" class="img-fluid center-block" alt="...">
   
<div class="form-group  text-center">
    
    <label for="email">Email</label>
    <input type="email"  id="email" name="email" #email="ngModel" ngModel  required email class="form-control holders">
   <span class="help-block" *ngIf="email.invalid && email.touched;">Please enter a valid mail!</span>
</div>
<div class="form-group  text-center">
    <label for="password">Password</label>
    <input type="password" id="password" name="password" ngModel minlength="6" #password="ngModel" class="form-control holders">
    <span class="help-block"   *ngIf="password.invalid && password.touched;" > please enter a valid password!</span>
</div>
<br>
<div  class="col-md-12 text-center">

    <button class="btn btn-primary btn-block" [disabled]="!f.valid" type="submit" >Log in</button> 
</div>

</form>

    </div>
</div>    <br>
<div class="col-lg-3 mid alertmessage help-block mid text-center" *ngIf="errorMsg!=null" > 
    <p >{{errorMsg}} !</p>
</div>   
